.container {
    padding: 5px 10px;
}


/* nav */
header{
    height: auto;
}

.container nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.nav-logo {
    margin: auto;

}

.nav-logo img {
    
    /* display: block; */
    width: 70px;
    margin: auto;
    
}

.nav-list ul {
    
    display: flex;
    justify-content: space-around;
    gap:10px;
    list-style-type: none;
    flex-wrap: wrap;
    margin: auto;
}

.nav-list ul li {
    margin: auto;
}

.nav-list ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 10px;
    margin: auto;
}

/* hero-sec */

.hero-sec {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.hero-left{
    /* border: 2px solid white; */
    margin: auto;
}


.hero-left img {
    width: 320px;
    
}

.hero-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin: auto;
    flex-wrap: wrap;
}

.highlight {
    color: var(--my-red);
    font-size: 18px;
    
}

.hero-right h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.hero-right p {
    font-size: 12px;
    text-align: center;
    
}

.hero-right button {
    margin-top: 10px;
    font-size: 15px;
   
}

/* experience-sec */

.bg {
    display: none;
}

.exp-cards {
    display: flex;
    flex-direction: column;
    height:1200px;
    width: 100%;
    justify-content: space-between;
    padding: 50px 50px;
    gap: 20px;
    z-index: 2;
    
}

.cards {
    height: 260px;
    width: 250px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    
}

.cards div i {
    font-size: 40px;
}

.cards h2 {
    font-size:20px;
}

.cards p {
    font-size: medium;
}

/* exp-info */

.exp-info {
    display: flex;
    height:350px;
    padding: 80px 30px;
    
}

.years {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.years h1 {
    font-size: 80px;
}

.years h5 {
    font-size: 16px;
    text-align: center;
}

.info h3 {
    color: var(--my-red);
    font-size: 30px;
}

.info p{
    font-size: 10px;
}

/* features-sec */

.feature-top {
    width: 100%;
    margin-top: 25px;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.ft-left h4 {
    text-align: center;
    font-size: 18px;
} 

.ft-left p {
    margin-top: 5px;
    font-size: 13px;
}

.ft-right button{
    font-size: 14px;
    padding: 5px 10px;
    
}

.feature-bottom {
    padding: 25px 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: auto;
}

.image-container {
    width: 320px;
    height: 210px;
    padding: 25px 20px;
    
}

.image-container img {
    width: 280px;
    margin: auto;
}

.detail {
    padding: 15px 0;
}

.detail h6 {
    font-size: medium;
    font-weight: 900;
}

.project-3 .image-container img {
    height:160px;
}

/* contact-section  */

.contact-sec {
    margin-top: 50px;
    margin: 0 10px;
    padding: 40px 20px;
    background-color: var(--my-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.cs-left h2 {
    font-size: 25px;
    line-height: 1.2;
    text-align: center;
}

.cs-left p {
    width: 300px;
    font-size: 12px;
    text-align: center;
    margin: auto;

}

.cs-right {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.cs-right button {
    border: none;
    padding: 15px 35px;
    position: static;
}

/* footer */

footer {
    margin-top: 30px;
    padding:50 50px;
     
}

footer ul {
    display: flex;
    justify-content: center;
    height: 40px;
    list-style-type: none;
    gap: 20px;
}

footer ul li {
    font-size: 12px;
    cursor: pointer;
}

/* footer-extended */

.footer-extended {
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: space-between;
}

.footer-logo {
    padding: 20px;
}

.footer-logo img {
    width: 60px;
}

.social-icons {
    position: static;
    
}

.social-icons ul {
    gap: 40px;
    
}

.social-icons ul li a i {
    font-size: 16px;
}
